@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="/Scripts/app.js"></script>
}

<div class="container" ng-app>

</div>

